<p>create-superhero works!</p>
<form #superheroForm="ngForm">
<div>
    <mat-form-field appearance="outline">
        <mat-label>Superhero Name</mat-label>
        <input type="text" matInput required placeholder="A name to be remembered" [(ngModel)]="superhero.name" name="name"/>
        <mat-hint>Enter name</mat-hint>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="outline">
        <mat-label>Details</mat-label>
        <textarea cdkAutosizeMinRows="4"
        cdkAutosizeMaxRows="10" rows="6" matInput [(ngModel)]="superhero.details" name="details"></textarea>
        <mat-hint>Explain superhero powers</mat-hint>
    </mat-form-field>
</div>
<div>
    <!-- Appearance: Outline -->
    <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select [(value)]="superhero.country" name="country">
    <mat-option>None</mat-option>
    <mat-option value="in">India</mat-option>
    <mat-option value="us">United States</mat-option>
    <mat-option value="os">Outer space</mat-option>
    </mat-select>
    </mat-form-field>
   

    <strong>Superhero comes from " {{superhero.country}} "</strong> 
</div>

 <div>
    <!-- Appearance: Outline -->
    <mat-form-field appearance="outline">
    <mat-label>Special Powers</mat-label>
    <mat-select [(value)]="superhero.powers" multiple>
     <mat-option>None</mat-option>
     <mat-option value="fly">fly</mat-option>
     <mat-option value="hammer">wield hammer</mat-option>
     <mat-option value="power">grow powerful</mat-option>
     </mat-select>
     </mat-form-field>
     <strong> My superhero can " {{superhero.powers}} "</strong>
     </div>
</form>
{{superhero | json}}
<strong>
    Form Status, Valid- {{superheroForm.valid}}. Pristine- {{superheroForm.
    pristine}}. Touched- {{superheroForm.touched}}
</strong>
<div>
    <button color="primary" mat-raised-button> Cancel </button>
    <button mat-stroked-button [disabled]="!superheroForm.valid" (click)="save($event)"> Save</button>
    </div>
