<mat-card class="example-card">
    <h1>{{name}}</h1>
    <p>
        Lives in {{livesIn}}. He is a friendly neighbourhood superhero.
        First appearance in {{firstAppearance}}.
    </p>
    <div>
        <strong>Superpowers</strong>
        <li>
            Spiderman can shoot web
        </li>
        <li>
            He can fly with the help of the web.    
            <button (click)="returnSuperheroData()"> Fly with a Superhero</button>
        </li>
        <li>
            He is strong
        </li>
    </div>

    <ng-content></ng-content>
</mat-card>