<mat-card>
<p>superhero-profile works!</p>
<h1>
    <div>
        name: {{name}}
    </div>
    <div>
        firstAppearance: {{firstAppearance}}
    </div>
    <button (click)="returnSuperheroData()"> Fly with a Superhero</button>
    <app-superhero-toolbar></app-superhero-toolbar> 
</h1>
    <div class="apply-margin">
        <input type="text" [(ngModel)]="superheroName" />
    |
    <strong [innerText]="superheroName"></strong>
    </div>

    <strong> {{superheroName}} </strong>

</mat-card>