<mat-card>
    <label for="input-label">input</label>
    <input type="text" id="input-label" [(ngModel)]="name"/>
    <h1 [ngClass]="cssClasses">{{name}}</h1>
    <p>
        Lives in New York. He is a friendly neighbourhood superhero.
    </p>
    <div>
        <strong>Superpowers</strong>
        <li>
            Spiderman can shoot web
        </li>
        <li>
            He can fly with the help of the web.
        </li>
        <li>
            He is strong
        </li>
    </div>
    <ng-content></ng-content>
    <button (click)="fly_func(name)">fly</button>
</mat-card>